$primary-color: #3333338b;
$accent-color: #FF5722;
$hover-color: #ddd;
$white-color: #fff;
$font-family: Arial, sans-serif;
$dropdown-bg: #f9f9f9;
$dropdown-text-color: black;
$dropdown-hover-color: #ddd;
$hover-color:orange;
$bl-color:blue;
