$primary-color: #3333338b;
$accent-color: #FF5722;
$card-color: #ff562213;
$hover-color: #ddd;
$white-color: #fff;
$font-family: Arial, sans-serif;
$dropdown-bg: #f9f9f9;
$dropdown-text-color: black;
$dropdown-hover-color: #ddd;
$hover-color:orange;
$hover-colors:rgba(255, 166, 0, 0.389);
$gray-color: gray;
