  header {
      position: relative;
      height: 80vh;
  }
  .content {
      width: 100%;
      height: 90vh;
      @include center;
      color: $white-color ;
      flex-direction: column;
      line-height: 2;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;

      h1 {
          font-size: 40px;
          color: $white-color;
      }

      span {
          color: $hover-color ;
          font-size: 18px;
      }

      p {
          font-size: 16px;
          width: 40%;
          text-align: center;
      }

      a {
          background: $hover-color;
          @include hover;
      }

      .bnt-top {
          display: flex;
          gap: 20px;
      }

      .join-now {
          border: 1px solid $white-color ;
          @include hover;
          background: none;
      }

      a:hover {
          @include hovers;
      }

      .join-now:hover {
          border: none;
          background: $hover-color;
          @include hovers;
      }
  }

  .slide1 {
      background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
          url(/img/image1.png) center/cover no-repeat;
  }

  .slide2 {
      background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
          url(/img/image12.png) center/cover no-repeat;
  }

  .slide3 {
      background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
          url(/img/image13.png) center/cover no-repeat;
  }

  .slides {
      display: flex;
      width: 300%;
      /* 3 slides */
      height: 100%;
      animation: slide 42s infinite;
  }

  .slide {
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center;
  }

  @keyframes slide {
      0% {
          transform: translateX(0);
      }

      33% {
          transform: translateX(-66.7%);
      }

      100% {
          transform: translateX(0);
      }
  }

//   ===============responsive===============
@media (max-width: 992px) {
  header {
    height: 46vh;
    .content{
        p{
            width: 80%;
        }
    }
  }

}

// ==========phone==========


@media (max-width: 768px) {
  header {
    height: 60vh;
  }

  .content {
    line-height: 1.5;
    h1 {
      font-size: 22px;
    }
    span {
      font-size: 14px;
    }
    p {
      display: none;
    }

    .bnt-top {
      gap: 12px;
      width: 60%;

      a,
      .join-now {
        width: 100%;
        text-align: center;
        padding: 6px;
        font-size: 14px;
      }
    }
  }
}

