* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

// Navbar Styles
.navbar {
  display: flex;
  position: fixed;
  width: 100%;
  align-items: center;
  background-color: $primary-color;
  padding: 10px 20px;
  z-index: 1;

  .logo {
    flex: 1;
    display: flex;
    align-items: center;
    color: $white-color ;
    gap: 20px;

    span {
      color: $accent-color ;
    }

    h1 {
      font-size: 28px;
    }

    .logo-img {
      width: 14%;
    }
  }

  .nav-links {
    flex: 1;
    list-style-type: none;
    display: flex;

    li {
      margin-right: 20px;

      a {
        text-decoration: none;
        color: $white-color;
        font-size: 20px;
        padding: 5px;

        &:hover {
          color: $accent-color;
        }
      }

      &.dropdown {
        position: relative;

        .dropdown-content {
          display: none;
          position: absolute;
          background-color: $dropdown-bg;
          min-width: 160px;
          box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
          z-index: 1;

          a {
            color: $dropdown-text-color;
            padding: 12px 16px;
            text-decoration: none;
            display: block;

          }
        }

        &:hover .dropdown-content {
          display: block;
        }
      }
    }
  }

  // Donate Button
  .donate-btn {
    display: flex;
    justify-content: end;
    align-items: center;
    flex: 1;
    gap: 26px;

    .search {
      display: flex;
      align-items: center;
      padding: 8px 30px;
      border-radius: 20px;
      border: none;
      gap: 16px;
      color: $gray-color;
    }

    .material-icons,
    .bx-user {
      font-size: 30px;
      color: $accent-color;
    }

  }
}

#active {
  color: $accent-color;
  border-bottom: 4px solid $accent-color;
  border-radius: 2px;
  padding-bottom: 28px;
}




// =======responsive===========

@media (max-width: 992px) {
  .navbar {
    padding: 10px 15px;

    .logo {
      gap: 10px;
      h1 {
        font-size: 18px;
      }

      .logo-img {
        width: 19%;
      }
    }

    .nav-links li a {
      font-size: 16px;
    }

    .donate-btn {
      gap: 16px;

      .search {
        padding: 6px 50px;
        font-size: 14px;
        width: 40%;
      }

      .material-icons,
      .bx-user {
        font-size: 26px;
      }
    }
  }
}


// ======phone============
// @media (max-width: 798px) {
//   .navbar {
//     padding: 10px 15px;

//     .logo {
//       gap: 10px;
//       h1 {
//         font-size: 18px;
//       }

//       .logo-img {
//         width: 19%;
//       }
//     }

//     .nav-links li a {
//       font-size: 16px;
//     }

//     .donate-btn {
//       gap: 16px;

//       .search {
//         padding: 6px 20px;
//         font-size: 14px;
//       }

//       .material-icons,
//       .bx-user {
//         font-size: 26px;
//       }
//     }
//   }
// }

