.section-come {
    @include center;
    flex-direction: column;
    background: $blue-colors;
    padding-top: 60px;
    line-height: 1.5;

    span {
        font-size: 18px;
        text-align: center;
        width: 64%;
        line-height: 1.5;
        color: $gray-color;
    }

    h1 {
        font-size: 30px;
        line-height: 2;
        margin-top: -28px;
    }

    .ful-come {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        padding-left: 100px;
        margin-top: 30px;
        width: 100%;

        .come-1 {
            display: flex;
            align-items: center;
            padding: 20px;


            img {
                width: 26%;
            }
        }

        .come-2 {
            display: flex;
            align-items: center;
            gap: 20px;
        }

        .come-1:hover {
            border-bottom: 2px solid $blue-color;
            width: 80%;

        }

        .come-2:hover {
            border-bottom: 2px solid $blue-color;
            width: 80%;

        }

        .skill {
            width: 14%;
        }

        p {
            font-size: 26px;
        }

        .topic {
            display: flex;
            gap: 10px;
            align-items: center;
            font-size: 20px;

            i {
                font-size: 24px;
            }
        }
    }

}

.section-container {
    text-align: center;
    margin-top: 40px;

    h1 {
        font-size: 30px;
    }

    .section-contain {
        display: flex;
        justify-content: center;
        margin-top: 36px;
        gap: 20px;

        .sub-card {
            background: $card-color;
            width: 12%;
            height: 30vh;
            @include center;
            gap: 20px;
            flex-direction: column;
            border: 1px solid $hover-colors;

            img {
                width: 40%;
            }

            span {
                color: $gray-color;
            }
        }

        .sub-card:hover {
            background: $hover-colors ;
            transform: translateY(-5px);
            transition: 0.5s;
            border: none;
        }
    }
}

.report {
    display: flex;
    align-items: center;
    padding: 50px 110px;

    .report-text {
        display: flex;
        flex-direction: column;

        p {
            font-size: 30px;
            text-align: start;
            width: 80%;
            padding-left: 44px;
        }

        a {
            margin-left: 44px;
            text-decoration: none;
            background: none;
            border: 1px solid orange;
            width: 12%;
            color: orange;
            padding: 10px;
            text-align: center;
            margin-top: 18px;
            border-radius: 6px;
        }

        a:hover {
            border: none;
            background: $hover-color ;
            color: $white-color;
            transform: translateY(-5px);
            transition: 0.5s;
        }
    }

    img {
        width: 26%;
        border-radius: 210px;
        border: 8px solid rgba(255, 166, 0, 0.778);
        height: 48vh;
        animation: float 3s ease-in-out infinite;
    }

    @keyframes float {
        0% {
            transform: translateY(0);
        }

        50% {
            transform: translateY(-12px);
        }

        100% {
            transform: translateY(0);
        }

    }
}

.career {
    display: flex;
    width: 100%;
    background-color: $blue-colors;
    padding: 100px;
    gap: 30px;
    margin-top: 30px;
    border-radius: 50px;

    .carreer-text {
        display: flex;
        justify-content: center;
        flex-direction: column;
        flex: 1;

        p {
            font-size: 24px;
        }

        a {
            text-decoration: none;
            background: none;
            border: 1px solid orange;
            width: 44%;
            padding: 6px;
            color: orange;
            text-align: center;
            border-radius: 6px;
            margin-top: 20px;
        }

        a:hover {
            border: none;
            background: $hover-color ;
            color: $white-color;
            transform: translateY(-5px);
            transition: 0.5s;
        }
    }

    .career-card {
        flex: 4;
        display: flex;
        justify-content: space-between;
        gap: 40px;

        .career-card-1 {
            display: flex;
            flex-direction: column;
            height: 40vh;
            border-radius: 20PX;
            border: 1px solid rgba(128, 128, 128, 0.519);

            img {
                width: 100%;
                border-radius: 22px;
                padding: 10PX;
                height: 24vh;
            }

            .career-card-1-text {
                padding-left: 18px;
                line-height: 2;

                span {
                    font-size: 13px;
                }
            }
        }
        .career-card-1:hover {
            transition: 0.5s;
            transform: scale(1.05);
            box-shadow: 2px 2px 10px rgba(40, 39, 38, 0.251);

        }
    }


}