.header-container {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url(/img/topic1.png) center/cover no-repeat;
    height: 80vh;
    @include center;

    .title {
        color: $white-color;
        font-size: 40px;
    }
}

// =========MAIN=============

.menu {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    padding: 2rem;
    margin-left: 10%;
    .menu-column {
        h3 {
            font-size: 1.4rem;
            font-weight: 600;
            margin-bottom: 0.8rem;
            color: $topic-color;
        }

        ul {
            list-style: none;
            padding: 0;
            margin: 0;

            li {
                margin: 0.4rem 0;
                a {
                    text-decoration: none;
                    color: #555;
                    font-size: 0.95rem;
                    transition: color 0.2s ease;
                    font-size: 17px;
                    &:hover {
                        color: $topic-colors;
                    }
                }
            }
        }
    }
}

// ==========RESPONSIVE============

