.section-container {
    @include center;
    gap: 20px;
    padding-left: 60px;
    height: 90vh;

    img {
        width: 36%;
        animation: float 3s ease-in-out infinite;
    }

    @keyframes float {
        0% {
            transform: translateY(0);
        }

        50% {
            transform: translateY(-10px);
        }

        100% {
            transform: translateY(0);
        }
    }

    .section-text {
        @include style;
        line-height: 2;
        padding: 30px;

        p {
            font-size: 18px;
        }

        span {
            align-self: flex-start;
            color: $hover-color;
            font-size: 18px;
        }

        a {
            background: $hover-color;
            padding: 10px 14px;
            border-radius: 4px;
            color: $white-color ;
            font-size: 14px;
            text-decoration: none;
        }

        a:hover {
            background: none;
            border: 1px solid $hover-color;
            color: $hover-color;
            transform: translateY(-5px);
            transition: 0.5s;
        }

        .section-icon {
            display: flex;
            gap: 50px;

            .icon-1 {
                display: flex;
                align-items: center;
                gap: 10px;

                i {
                    color: $hover-color;
                    font-size: 22px;
                }

                p {
                    font-size: 18px;
                }
            }
        }
    }
}

// =================SECTION================

.section-containers {
    text-align: center;

    h1 {
        font-size: 30px;
    }

    .section-contain {
        display: flex;
        justify-content: center;
        margin-top: 30px;
        gap: 20px;

        .sub-card {
            background: $card-color;
            width: 12%;
            height: 30vh;
            @include center;
            gap: 20px;
            flex-direction: column;
            border: 1px solid $hover-colors;

            img {
                width: 40%;
            }

            span {
                color: $gray-color;
            }
        }

        .sub-card:hover {
            background: $hover-colors ;
            @include hovers;
            border: none;
        }
    }
}


// ======infor-expert========

.infor-expert {
    @include style;
    gap: 10px;
    margin-top: 40px;

    .span {
        font-size: 24px;
        color: $hover-color;
    }

    h1 {
        font-size: 30px;
    }

    .expert {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        width: 100%;
        padding-top: 30px;
        padding-left: 70px;

        .expert-1 {
            @include style;
            width: 80%;
            height: 60vh;
            line-height: 2;
            background: $card-color;

            img {
                width: 100%;
            }

            img:hover {
                transition: 0.5s;
                transform: scale(1.1);

            }

            p {
                font-size: 20px;
            }

            span {
                color: gray;
            }

            .icon-imgs {
                display: flex;
                gap: 10px;
                padding: 8px;
                margin-top: -18px;
                background: $white-color;

                i {
                    font-size: 20px;
                    background: $hover-color;
                    padding: 6px;
                    color: $white-color;
                }
            }
        }
    }
}


// ============RESPONSIVE============================================


@media (max-width: 992px) {
    .section-container {
        height: 50vh;
        flex-direction: column-reverse;

        img {
            width: 0%;
        }
    }
}

@media (max-width: 576px) {
    .section-container {
        flex-direction: column;
        padding: 20px;
        height: auto;

        .none {
            display: none;
        }

        img {
            width: 80%;
        }

        .section-text {
            padding: 10px;
            text-align: center;

            h1 {
                font-size: 28px;

            }

            span {
                font-size: 14px;
                display: none;
            }

            p {
                font-size: 14px;
            }

            a {
                font-size: 12px;
                padding: 8px 12px;
            }

            .section-icon {
                flex-direction: column;
                gap: 12px;
            }
        }
    }
}

// =================SECTION================

@media (max-width: 992px) {
    .section-containers {
        text-align: center;
        margin-top: 40px;

        h1 {
            font-size: 30px;
        }

        .section-contain {
            display: flex;
            justify-content: center;
            margin-top: 36px;
            gap: 20px;
            flex-wrap: wrap;

            .sub-card {
                background: $card-color;
                width: 12%;
                height: 30vh;
                @include center;
                gap: 20px;
                flex-direction: column;
                border: 1px solid $hover-colors;
                transition: 0.3s;

                img {
                    width: 40%;
                }

                span {
                    color: $gray-color;
                }

                &:hover {
                    background: $hover-colors;
                    transform: translateY(-5px);
                    border: none;
                }
            }
        }

        /* Tablet */
        @media (max-width: 992px) {
            .section-contain {
                gap: 16px;

                .sub-card {
                    width: 25%; // 4 cards per row
                    height: 18vh;
                }
            }
        }

        /* Mobile */
        @media (max-width: 576px) {
            h1 {
                font-size: 22px;
            }

            .section-contain {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                flex-direction: column;
                gap: 12px;
                margin-left: 20px;

                .sub-card {
                    width: 90%; // full width card
                    height: auto;
                    padding: 16px;

                    img {
                        width: 30%;
                    }

                    span {
                        font-size: 14px;
                    }
                }
            }
        }
    }

}

// ======infor-expert===============

@media (max-width: 992px) {
    .infor-expert {
        .expert {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 20px;

            .expert-1 {
                height: 50vh;
            }
        }
    }
}

@media (max-width: 576px) {
    .infor-expert {
        .expert {
            display: grid;
            grid-template-columns: 1fr;
            gap: 24px;
            padding-left: 40px;
            .expert-1 {
                height: 58vh;
                width: 90%;
                img {
                    width: 100%;
                }
            }
        }
    }
}