.header-container {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url(/img/pic5.png) center/cover no-repeat;
    height: 80vh;
    @include center;

    .title {
        color: $white-color;
        font-size: 40px;
    }
}

marquee{
    color: white;
    .p{
          display: flex;
          gap: 100px;
    }
}